<h2>ID# <%= @invoice.id %> Invoice Show</h2>

<div id="test"><%= @invoice.status %></div><br/>

<%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
  <%= f.label :status %>
  <%= f.select :status, ['in progress', 'cancelled', 'completed']%>
  <%= f.submit "Update Invoice Status" %>
<% end %><br/>

Created at:&emsp;<%= @invoice.created_at.strftime("%A, %B %d, %Y") %> </br>
Customer:&emsp;<%= @customer.first_name %> <%= @customer.last_name %><br/><br/>

<section>
  <% @invoice.invoice_items.each do |invoice_item| %>
    <section id="invoice_item-<%= invoice_item.id %>">
      Invoice Item #ID: <%= invoice_item.id %><br/>
      <% if invoice_item.discount_used.present? %>
        <%= link_to "Discount", "/merchants/#{invoice_item.merchant.id}/bulk_discounts/#{invoice_item.best_discount.id}" %>: 
        <%= number_to_percentage(invoice_item.best_discount.discount * 100) %><br><br>
      <% else %>
        No Discount Applied<br><br>
      <% end %>
    </section>
  <% end %>
</section><br>

<h4>Items:</h4>
<% @items.each do |item| %>
  Name:&emsp;<%=  item.name  %> <br/>
  Status:&emsp;<%=  item.status  %> <br/>
  Quantity:&emsp;<%=  item.quantity  %> <br/>
  Unit Price:&emsp; $ <%=  item.unit_price  %> <br/><br/>

  <% if @discounts.present? %>
    &emsp;<%= link_to "Bulk Discount Applied (if any)", "/merchants/#{@merchant.id}/discounts" %><br/><br/>
  <% else %>
    No Discount Available<br/><br/>
  <% end %>

<%  end  %><br/><br/>

Total Revenue:&emsp; $ <%=  @total_revenue[@invoice.id]  %></br>
