<h2>ID# <%= @invoice.id %> Invoice Show</h2>

<div id="test"><%= @invoice.status %></div><br/>

<%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
  <%= f.label :status %>
  <%= f.select :status, ['in progress', 'cancelled', 'completed']%>
  <%= f.submit "Update Invoice Status" %>
<% end %><br/>

Created at:&emsp;<%= @invoice.created_at.strftime("%A, %B %d, %Y") %> </br>
Customer:&emsp;<%= @customer.first_name %> <%= @customer.last_name %><br/><br/>

<section>
  <% @invoice.invoice_items.each do |invoice_item| %>
    <section id="invoice_item-<%= invoice_item.id %>">
      Invoice Item ID: <%= invoice_item.id %><br>
      <% if invoice_item.best_discount.present? %>
        &emsp;<%= link_to "Best Discount", "/merchants/#{invoice_item.merchant.id}/discounts/#{invoice_item.best_discount.id}" %>:&emsp;%
        <%= invoice_item.best_discount.percent %><br><br>
      <% else %>
        No Discount Applied<br><br>
      <% end %>
    </section>
  <% end %>
</section><br>

<section>
  <% @items.each do |item| %>
    Item: <%= item.name %><br>
    Status: <%= item.status %><br>
    Quantity: <%= item.quantity %><br>
    Unit Pice: <%= item.unit_price %><br><br>
  <% end %>
</section><br>

<section>
  Total Revenue: $<%= @total_revenue %></br>
</section>
