<h2>ID# <%= @invoice.id %> Invoice Show</h2>

<div id="test"><%= @invoice.status %></div><br/>

<%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch, local: true do |f| %>
  <%= f.label :status %>
  <%= f.select :status, ['in progress', 'cancelled', 'completed']%>
  <%= f.submit "Update Invoice Status" %>
<% end %><br/>

Created at:&emsp;<%= @invoice.created_at.strftime("%A, %B %d, %Y") %> </br>
Customer:&emsp;<%= @customer.first_name %> <%= @customer.last_name %><br/><br/>

<h4>Items:</h4>
<% @items.each do |item| %>
  Name:&emsp;<%=  item.name  %> <br/>
  Status:&emsp;<%=  item.status  %> <br/>
  Quantity:&emsp;<%=  item.quantity  %> <br/>
  Unit Price:&emsp; $ <%=  item.unit_price  %> <br/><br/>
  <%  end  %><br/><br/>

Total Revenue:&emsp; $ <%=  @total_revenue[@invoice.id]  %></br>
