<section id="links">
  &emsp;<%= link_to "Merchant Index", "/merchants" %>
  &emsp;<%= link_to "Merchant Dashboard", "/merchants/#{@merchant.id}" %>
</section>

<section id="disc_index">
  <h2>Discounts Index</h2>
  <% @discounts.each do |invoice| %>
    <div id="discount-<%= discount.id %>">
      Discount $<%= link_to "#{discount.id}", "/merchants/#{@merchant.id}/discounts/#{discount.id}" %>
      Quantity Threshold:&emsp;<%= discount.quantity %>
    </div>
  <% end %>
</section>
