<section id="links">
  <h3 style="text-align:left;">
      &emsp;*<%= link_to "Create New Discount", "/merchants/#{@merchant.id}/discounts/new" %><span style="float:right;"><%= link_to "Merchant Dashboard", "/merchants/#{@merchant.id}/dashboard" %>&emsp;</span>
  </h3>
</section>

<section id="discount-index">
  <h2>Discounts Index</h2>
  <% @discounts.each do |discount| %>
    <section id="discount-<%= discount.id %>">
      &emsp;Discount _ Percent Off %<%= link_to "#{discount.percent}", "/merchants/#{@merchant.id}/discounts/#{discount.id}" %>:&emsp;&emsp;Minimum Quantity Threshold:&emsp;<%= discount.quantity %><%= link_to "Delete", "/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete %>
      <br/><br/>
    </section>
  <% end %><br/>
</section>

<section id="holidays">
  <h2>Upcoming Holidays</h2>
    <%# @three_holidays.each do |holiday| %>
    <%# end %>

</section>
